*{
    margin: 0;
    padding: 0;
}
body{
    background: url("bg.jpg");
    background-size:100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.container{
    height:250px;
    width:400px;
    margin:50px auto;
    display: flex;
    align-content: center;
    justify-content:center;
    background:rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom:100px;
}
.login-top{
    padding:20px;
    font-size:16px;
    color: deepskyblue;
    font-weight:bold;
    text-align: center;
}
.login,.password{
    margin:15px 0;
}
.user>input,.password>input{
    height:20px;
    width:300px;
}
.login>button{
    height:35px;
    width:300px;
    border-style: none;
    background-color: deepskyblue;
    color:white;
    cursor: pointer;
}
